
@{
    ViewBag.Title = "Bike";
}
<style>
    body {
        background: #ffd800;
    }
</style>
<h1>Я люблю кататься на велосипеде, а вот и он ¯\_(ツ)_/¯</h1>
<img src="http://cs622623.vk.me/v622623840/20a16/XHvgcm7YphU.jpg" width="500" />
<p><img src="http://cs624518.vk.me/v624518840/32f58/nNYM0sKEfpI.jpg" width="500" />
    </p>
