
@{
    ViewBag.Title = "Mydog";
}
<style>
    body {
        background: #ffd800;
    }
</style>   
<h1>Это мой пес, он всегда поможет в сложную минуту и поддержит радостным лаем!</h1>
<img src="http://cs198.vk.me/v198354/11da/KeI8BEI0hKg.jpg" width="500" />
