
<style>
    body {
        background: #ffd800;
    }
</style>   
 <h1>Ildar(oficial)</h1>
    <div>
        <p>Вас приветствует миллиардер, плейбой и филантроп Ильдар)</p>
        <p>На моем сайте вы можете найти все самое необходимое. Скорее в меню!</p>
    </div>
    <img src="http://cs625117.vk.me/v625117840/48559/PsTefrNp1mY.jpg" width="700"/>
    <!--Комментарии -->

